#*
.terraform*
terraform.tfstate*
!.gitignore
!src/**
!mvnw
!mvnw.cmd
!.mvn/wrapper/*
!settings.xml
!pom.xml
!gradlew
!gradlew.bat
!gradle/wrapper/*
!init.gradle
!settings.gradle
!build.gradle
!docker-compose.yml
!Dockerfile
