!.gitignore
### Code ###
!src/**
### Maven ###
HELP.md
target/
!mvnw
!mvnw.cmd
!.mvn/wrapper/*
!settings.xml
!pom.xml
### Gradle ###
HELP.md
.gradle
build/
!gradlew
!gradlew.bat
!gradle/wrapper/*
!init.gradle
!settings.gradle
!build.gradle
